html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 100vh;
}
#app {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    inset: 0;
}
.fcc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fsc {
    display: flex;
    align-items: center;
    justify-content: start;
}

.h-100vh {
    height: 100vh;
}

.title-card {
    backdrop-filter: saturate(180%) blur(30px);
    background: rgba(0, 0, 0, 0.3);
    padding: 15px;
    z-index: 5;
}

#map {
    position: fixed;
    background-color: transparent;
    left: 0px;
    top: 200px;
    width: 400px;
    height: 270px;
}