<!doctype html>
<html lang="zh-tw" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boom car</title>
  <script src="js/jquery.min.js"></script>
  <script src="js/joy.js"></script>
  <link rel="stylesheet" href="./css/element-plus.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="app">
    <div class="container" v-if="!gameStarted">
      <div class="row">
        <div class="col-12 fsc text-light h-100vh">
          <div class="title-card">
            <h1>boom car</h1>
            <p class="mb-2"><strong>難度</strong></p>
            <el-button-group class="mb-3">
              <el-button @click="startGame(0)" type="info">簡單</el-button>
              <el-button @click="startGame(2)" type="info">中等</el-button>
              <el-button @click="startGame(3)" type="info">困難</el-button>
            </el-button-group>
            <p>遊戲中按 X 可以啟動加速。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-light title-card" v-if="gameStarted">
      <div class="row">
        <div class="col-4">
          <h5>Camera X</h5>
          <el-slider v-model="camera.x" />
        </div>
        <div class="col-4">
          <h5>Camera Y</h5>
          <el-slider v-model="camera.y" :min="300" :max="10000" />
        </div>
        <div class="col-4">
          <h5>Camera Z</h5>
          <el-slider v-model="camera.z" :min="300" :max="10000" />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="joyDiv"></div>
        </div>
      </div>
    </div>
  </div>
  <canvas id="gameCanvas" style="width: 100vw; height: 100vh"></canvas>

  <script src="js/constants.js"></script>
  <script src="js/canvasFunctions.js"></script>
  <script src="js/mathFunctions.js"></script>
  <script src="js/graphics.js"></script>
  <script src="js/util.js"></script>
  <script src="js/titleScreen.js"></script>
  <script src="js/camera.js"></script>
  <script src="js/render.js"></script>
  <script src="js/car.js"></script>
  <script src="js/callback.js"></script>

  <script src="js/track.js"></script>
  <script src="js/race.js"></script>
  <script src="js/racer.js"></script>
  <script src="js/audio.js"></script>
  <script src="js/speech.js"></script>
</body>
<script src="./js/vue.global.js"></script>
<script src="./js/element-plus.js"></script>
<!-- our script -->
<script src="./js/helper.js"></script>
</html>
